<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Добавление нового баннера</title>
</head>
    <body>
    <div layout:fragment="content" th:remove="tag" class="container justify-content-md-center">
        <div class="col-md-auto ustify-content-md-center align-items-center">
            <div class="row-md-auto">
                <h2>Добавление нового баннера</h2>
            </div>
            <div class="row-md-auto">
            <form action="#" th:action="'/add'" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-10 center">
                                <div class="form-row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Имя баннера" name="name" >
                                    </div>
                                </div>
                                <div class="custom-file col">
                                    <input text="Выбрать файл" type="file" class="custom-file-input" id="path" name="path" aria-describedby="btnSubmit">
                                    <label class="custom-file-label" for="path">Файл баннера для загрузки на сервер</label>
                                </div>
                                <div class="border rounded-lg text-center p-3">
                                    <img src="//placehold.it/140?text=IMAGE" class="img-fluid" id="preview" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Статус услуги:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="statusRadio1" value=true>
                                    <label class="form-check-label" for="statusRadio1">
                                        Включена
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" id="statusRadio2" value=false checked>
                                    <label class="form-check-label" for="statusRadio2">
                                        Отключена
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <label>Тип:</label>
                                <div th:each="type, rowStat: ${types}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="type" th:id="${type.id}" th:value="${type.id}" checked>
                                        <label class="form-check-label" th:for="${type.id}" th:text="${type.name}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label>DRM:</label>
                                <div th:each="drm, rowStat: ${drms}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="drm" th:id="${drm.id}" th:value="${drm.id}">
                                        <label class="form-check-label" th:for="${drm.id}" th:text="${drm.name}"></label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="drm" id="drmNull" value="" checked>
                                    <label class="form-check-label" for="drmNull">
                                        NONE
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class=" col-md-10 center">
                            <button class="btn btn-outline-secondary btn-block" type="submit" name="upload-submit" id="btnSubmit" value="upload" data-toggle="modal" data-target="#modal">Добавить новый баннер</button>
                        </div></div>
                    </div>
                </div>
            </form>
            </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Баннер добавлен</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a href="/main" class="btn btn-primary btn-block" role="button">На страницу главных баннеров</a>
                            </div>
                            <div class="col">
                                <a href="/info" class="btn btn-primary btn-block" role="button">На страницу информационных баннеров</a>
                            </div>
                        </div>
                        <div class="row"><div class="col">
                            <a href="/control" class="btn btn-warning btn-block" role="button">На главную</a>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>