<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Управление баннерами</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Управление баннерами</h1>
    <div class="row h-100 justify-content-center align-items-center">
    <a href="/banner/main" class="btn btn-primary" role="button">На страницу главных баннеров</a>
    <a href="/banner/info" class="btn btn-danger" role="button">На страницу информационных баннеров</a>
    </div>
    <!--<p><a href="/" th:href="@{/}">На страницу авторизации</a></p>-->
</div>
</body>
</html>