<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Управление дополнительными баннерами</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container h-200 justify-content-md-center">
    <div class="row h-200 justify-content-center align-items-center">
        <div class="col-md-auto table-responsive">
        <h2>Управление дополнительными банерами</h2>
        <table id="customerTable" class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Превью</th>
                <!--<th>Имя файла</th>-->
                <th>Тип</th>
                <th>Статус</th>
                <th>DRM</th>
                <th>Обновить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file, rowStat: ${files}">
                <!--<td th:text="${rowStat.count}">1</td>-->
                <td col col-lg-2 th:text="${file.id}" th:field="${file.id}">ID</td>
                <td col col-lg-2><a th:href="${file.img}"><img th:src="${file.img}" alt="Preview" width="50" height="50"/></a></td><!--@{file.path}-->
                <!--<td col col-lg-2 th:text="${file.name}">Имя файла</td>-->
                <td col col-lg-2 th:text="${file.type.getName()}">Тип</td>
                <td col col-lg-2 th:text="${file.status} ? 'true' : 'false'">Статус</td>
                <td col col-lg-2 th:text="${file.drm.getName()}">DRM</td>
                <td col-md-auto>
                    <form action="#" th:action="'/banners/main/' + ${file.id}" th:object="${file}" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="custom-file">
                                <input text="Выбрать файл" type="file" class="custom-file-input" id="path" name="path" aria-describedby="btnSubmit">
                                <label class="custom-file-label" for="path"><p th:text="${file.img}"></p></label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" name="upload-submit" id="btnSubmit" value="upload">Обновить файл</button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
            <div>
                <a href="/banners/main" class="btn btn-primary btn-block" role="button">На страницу главных баннеров</a>
                <a href="/banner/control" class="btn btn-warning btn-block" role="button">На главную</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>