<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--	  xmlns:th="http://www.thymeleaf.org"-->
<!--	  layout:decorate="~{fragments/layout}">-->
<!--<head>-->
    <title>Загрузить несколько файлов</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-md-7 table-responsive">
				<h2>Загруженные файлы</h2>
				<table id="customerTable" class="table">
					<thead>
						<tr>
							<th>№</th>
							<th>Превью</th>
							<th>Имя файла</th>
							<th>Тип</th>
							<th>Статус</th>
							<th>DRM</th>
<!--							<th>Загрузить</th>-->
						</tr>
					</thead>
					<tbody>
						<tr th:each="file, rowStat: ${files}">
<!--						<td th:text="${rowStat.count}">1</td>-->
						<td th:text="${file.id}">ID</td>
						<td><img th:src="@{file.path}" width="15" alt=""/>Превью</td>
						<td th:text="${file.name}">Имя файла</td>
						<td th:text="${file.type}">Тип</td>
						<td th:text="${file.status} ? 'true' : 'false'">Статус</td>
						<td th:text="${file.type}">DRM</td>
<!--						<td th:text="${file.drm}">DRM</td>-->
<!--						<td><a th:href="${file.path}">Путь</a></td>-->
					    </tr>
					</tbody>
				</table>
				<div>
					<a href="/upload" class="btn btn-light btn-block" role="button">На страницу загрузки</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>