<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Управление главными баннерами</title>
</head>
    <body>
<!--    <script src="scripts/updateBanner.js"></script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        console.log("1")-->
<!--        $('#btnSubmit').onclick(updateResult);-->
<!--        function updateResult() {-->
<!--            console.log("2")-->
<!--            $.ajax({-->
<!--                type: 'get',-->
<!--                url: [["/banners/main"]],-->
<!--            })-->
<!--        }-->
<!--    })-->
<!--</script>-->
    <div layout:fragment="content" th:remove="tag" class="container h-200 justify-content-md-center">
        <div class="row h-200 justify-content-center align-items-center update_banner">
            <div class="col-md-auto table-responsive" th:fragment="update_banner">
            <h2>Управление главными банерами</h2>
            <table id="customerTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Превью</th>
                    <th>Тип</th>
                    <th>Статус</th>
                    <th>DRM</th>
                    <th>Обновить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file, rowStat: ${files}">
                    <td col col-lg-2 th:text="${file.id}" th:field="${file.id}">ID</td>
                    <td col col-lg-2><a th:href="${file.img}"><img th:src="${file.img}" alt="Preview" width="50" height="50"/></a></td>
                    <td col col-lg-2 th:text="${file.type.getName()}">Тип</td>
                    <td col col-lg-2 th:text="${file.status} ? 'true' : 'false'">Статус</td>
                    <td col col-lg-2 th:text="${file.drm.getName()}">DRM</td>

                    <td col-md-auto>
<!--                        <label th:text="${file.img}" class="custom-file-label"></label>-->
<!--                        <a class="btn btn-outline-secondary" href="'/banners/update/' + ${file.id}" role="button">Обновить файл</a>-->
<!--                        <button class="btn btn-outline-secondary" type="submit">Обновить файл</button>-->
                        <form action="#" th:action="'/banners/main/' + ${file.id}" th:object="${file}" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="custom-file">
                                <input text="Выбрать файл" type="file" class="custom-file-input" id="path" name="path" aria-describedby="btnSubmit">
                                <label th:text="${file.img}" class="custom-file-label" for="path"></label> <!--<p th:text="${file.img}"></p>-->
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" name="upload-submit" id="btnSubmit" value="upload" th:action="@{/banners/main}">Обновить файл</button>
                                <!-- th:onclick="'updateResult();'"-->
                            </div>
                        </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <a href="/banners/add" class="btn btn-primary btn-block" role="button">Добавление нового баннера</a>
                <a href="/banners/info" class="btn btn-primary btn-block" role="button">На страницу информационных баннеров</a>
                <a href="/banner/control" class="btn btn-warning btn-block" role="button">На главную</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>