<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Управление главными баннерами</title>
</head>
    <body>
    <div layout:fragment="content" th:remove="tag" class="container h-200 justify-content-md-center">
        <div class="row h-200 justify-content-center align-items-center update_banner">
            <div class="col-md-auto table-responsive" th:fragment="update_banner">
            <h2>Управление главными банерами</h2>
            <table id="customerTable" class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Превью</th>
                    <th>Тип</th>
                    <th>Статус</th>
                    <th>DRM</th>
                    <th>Обновить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file, rowStat: ${files}">
                    <td col col-lg-2 th:text="${file.id}" th:field="${file.id}">ID</td>
                    <td col col-lg-2><a th:href="${file.img}"><img th:src="${file.img}" alt="Preview" width="50" height="50"/></a></td>
                    <td col col-lg-2 th:text="${file.type.getName()}">Тип</td>
                    <td col col-lg-2 th:text="${file.status} ? 'true' : 'false'">Статус</td>
                    <td col col-lg-2 th:text="${file.drm.getName()}">DRM</td>
                    <td col-md-auto>
                        <button class="btn btn-outline-secondary btn-block" data-toggle="modal" th:data-target="'#modal' + ${file.id}" th:text="${file.img}"></button>
                        <div class="modal fade" th:id="'modal' + ${file.id}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <form action="#" th:action="'/main/' + ${file.id}" th:object="${file}" method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Изменение баннера</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input text="Выбрать файл" type="file" class="custom-file-input" id="path" name="path" aria-describedby="btnSubmit">
                                                        <label th:text="${file.img}" class="custom-file-label" for="path"></label>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                            <button class="btn btn-primary" type="submit" name="upload-submit" id="btnSubmit" value="upload">Сохранить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <a href="/add" class="btn btn-success btn-block" role="button">Добавление нового баннера</a>
                <a href="/info" class="btn btn-primary btn-block" role="button">На страницу информационных баннеров</a>
                <a href="/control" class="btn btn-warning btn-block" role="button">На главную</a>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>