<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Управление главными баннерами</title>
</head>
    <body>
    <div layout:fragment="content" th:remove="tag" class="container h-200 justify-content-md-center">
        <div class="row h-200 justify-content-center align-items-center update_banner">
            <div class="col-md-auto table-responsive" th:fragment="update_banner">
            <h2>Управление главными банерами</h2>
<!--                <tr th:each="file, rowStat: ${files}">-->
            <form action="#" th:action="'/banners/main/' + ${file.id}" th:object="${file}" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <div class="custom-file">
                    <input text="Выбрать файл" type="file" class="custom-file-input" id="path" name="path" aria-describedby="btnSubmit">
                    <label class="custom-file-label" for="path"></label> <!--<p th:text="${file.img}"></p>-->
                </div>
                <div class="input-group-append">
                    <button th:action="'/banners/main/'" class="btn btn-outline-secondary" type="submit" name="upload-submit" id="btnSubmit" value="upload">Обновить файл</button>
                    <!-- th:onclick="'updateResult();'"-->
                </div>
            </div>
            </form>
            <div>
                <a href="/banner/control" class="btn btn-warning btn-block" role="button">На главную</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>