<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Hello Spring Security</h1>
    <p>Это незащищенная страница, но вы можете получить доступ к защищенным страницам после аутентификации.</p>
    <ul>
        <li>Перейти к <a href="/main" th:href="@{/main}">защищенным страницам</a></li> <!-- /user -->
    </ul>
</div>
</body>
</html>